.ss-wrapper {
    overflow: hidden;
    height: 100%;
    position: relative;
    z-index: 1;
    float: left;
}

.ss-content {
    height: 100%;
    width: 100%;
    padding: 0 32px 0 0;
    position: relative;
    right: -18px;
    overflow: auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ss-scroll {
    position: relative;
    display: block;
    background: rgb(108, 110, 113);
    width: 7px;
    border-radius: 4px;
    top: 0;
    z-index: 2;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    transition: opacity 0.25s linear;
}

.ss-scroll.ss-hidden {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    display: none;
}

.ss-container:hover .ss-scroll {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.ss-grabbed {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}